<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/me.jpg">
  </a>
  <div class="media-body">
    <b><h1 class="media-heading">ETA</h1>
    <p>Project Manager</p>
    <p>New York, New York  |  Computer Software</p></b>
  </div>
</div>

<h2>Summary</h2>
<p>
• Project Manager, Product Manager, Product Marketing Manager, Product Engineer<br>

<h3 class="list">Experiences</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <table class="table">
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.title %></td>
        <td><%= experience.content %></td>
        <td><%= link_to 'Show', experience_path(experience) %></td>
        <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
        <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <tr>
      <td></td>
      <td>
        <ul>
          <% experience.notes.each do |note| %>
          <li><%= link_to note.topic, note.content, target:"_blank" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
    </table>


  </tbody>
</table>

<%= link_to 'New Experience', new_experience_path %>

<br>
<br>

<p>
<h4><b>Education</b></h4>
<br>
Back-End Web Development (Ruby / Ruby on Rails)<br>
General Assembly, New York, NY<br>
• Learned fundamentals of an object-oriented programming language (Ruby), ability to build functional web application using Rails, and implement web applications using database solutions; Third Party APIs; Ruby Gems; and GitHub.<br>
<br>d
Professional Certification in Project Management<br>
New York University, New York, NY<br>
• Agile Project Management; Project Management for Information Systems; Basic Project Management; Project Communications Management; and Risk and Change Management.<br>
<br>
Professional Certification in Digital Media Marketing<br>
New York University, New York, NY<br>
• Digital Strategy - Creating Synergy in Marketing Program; Strategic Search Engine Marketing (SEM / SEO); Web Analytics - Integrating Website and Email Data for Effective Digital Marketing Programs; Data Analytics, Interpretation, and Reporting; and Interactive Marketing.<br>
<br>
Bachelor of Science in Electrical Engineering<br>
California Polytechnic State University, San Luis Obispo, CA<br>
• Alpha Gamma Sigma Honor Society, Mathematics Engineering Science Achievement
• Society of Women Engineers - Electrical Engineering Major Chair and Student Electrical Engineering Council Representative<br>
</p>

<br>

<p>
<h5><b>Activities</b></h5>
<br>
Kids in the Game (Our Lady Queen of Angels Elementary School, NYC)<br>
• Volunteer teacher in after school sports program<br>
<br>
New York Flyers Running Club<br>
• Treasurer and Executive Board Member & Active Member<br>
• Finance / accounting and system administrator responsibilities utilizing Chase online banking, PayPal, and Quicken.<br>
<br>
Junior Chamber International<br>
• Project Chair & Active Member<br>
• Chaired and organized community service projects creating positive change.<br>
<br>
Technology; Long Distance Running (2013 Boston Marathon Finisher), Traveling, Listening to Music, Reading, Cooking<br>
</p>

<br>
<br>
<br>
