<!DOCTYPE html>
<html>
<head>
  <title>HiremeApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
	<% if user_signed_in? %>
		<p class="user">You are signed in as <%= current_user.email %></p>
		<%= link_to "Log out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%- if controller_name != 'sessions' %>
  			<%= link_to "Sign in", new_session_path(User) %><br />
		<% end -%>
  		<%= link_to "Sign up", new_registration_path(User) %><br />
  		<div class="jumbotron">
		  <h1>Welcome to HireMe!</h1>
		  <p>Please sign in or sign up to access this awesome website</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
	<% end -%>
	<%= yield %>

</body>
</html>